:root {
  --cor-background:  #4A2D8A;
  --cor-texto: #ffffff;
  --resultado-fundo-card: #6B4FA1;
}

body{
  background-color: var(--cor-background)
}

.container{
  margin: 50px
}

h1{
  color:var(--cor-texto);
}

.inputs{
  display: flex;
  gap:10px;
  margin-top: 20px;
}

input,select,button{
  padding:10px;
  height: 100%;
  font-weight: bold;
}

.box-resultado{
  background-color: var(--resultado-fundo-card);
  margin-top: 20px;
  padding:10px;
  color:var(--cor-texto);
}
